@using Oqtane.Modules.Controls
@using Tres.Stripes.Services
@using Tres.Stripes.Models

@namespace Tres.Stripes.Modules
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject HttpClient http
@inject SiteState sitestate

<table class="table table-borderless">
    <tr>
        <td>
            <label class="control-label">Name: </label>
        </td>
        <td>
            <input id="_name" class="form-control" @bind="@_name" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
@if (PageState.Action == "Edit")
{
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;
    public override string Actions => "Add,Edit";

    IStripeService StripeService;
    int _id;
    string _name;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            StripeService = new StripeService(http, sitestate, NavigationManager);
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                Stripe Stripe = await StripeService.GetStripeAsync(_id);
                if (Stripe != null)
                {
                    _name = Stripe.Name;
                    _createdby = Stripe.CreatedBy;
                    _createdon = Stripe.CreatedOn;
                    _modifiedby = Stripe.ModifiedBy;
                    _modifiedon = Stripe.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Stripe {StripeId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading Stripe", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            if (PageState.Action == "Add")
            {
                Stripe Stripe = new Stripe();
                Stripe.ModuleId = ModuleState.ModuleId;
                Stripe.Name = _name;
                Stripe = await StripeService.AddStripeAsync(Stripe);
                await logger.LogInformation("Stripe Added {Stripe}", Stripe);
            }
            else
            {
                Stripe Stripe = await StripeService.GetStripeAsync(_id);
                Stripe.Name = _name;
                await StripeService.UpdateStripeAsync(Stripe);
                await logger.LogInformation("Stripe Updated {Stripe}", Stripe);
            }
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Stripe {Error}", ex.Message);
            AddModuleMessage("Error Saving Stripe", MessageType.Error);
        }
    }
}
